/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Source Sans 3', sans-serif;
  --primery: #02bde0;
  --secondary: #ADD036;
}
/* font */
body {
  font-family: var(--font-heading);
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
/* size */
/* Body text base size */
body {
  font-size: 13px;      /* Updated */
  line-height: 1.8;
  font-weight: 400;
}

/* Headings */
h1 {
  font-size: 32px;      /* Primary heading */
  line-height: 1.25;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
/* id scroll */
html {
  scroll-behavior: smooth;
}


 /* button */
 /* globals.css */
.btn-primary {
  @apply
    bg-[var(--primery)]
    text-black
    px-4
    py-3
    rounded-md
    font-semibold
    transition
    duration-300
    ease-in-out
    hover:scale-105
    cursor-pointer;
}

.btn-secondary {
  @apply
    bg-black
    text-[var(--primery)]
    px-4
    py-3
    rounded-md
    font-semibold
    transition-all
    duration-300
    ease-in-out
    hover:scale-105
    cursor-pointer;
    
}

/* cards */

.card {
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background-color: var(--primery);
  transition: width 0.4s ease;
}

.card:hover::after {
  width: 100%;
}

/* testimonial_animation */
@keyframes testimonial-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-testimonial {
  width: max-content;
  animation: testimonial-scroll 30s linear infinite;
  animation-play-state: running;
}
/* card animation */
@keyframes fadeInOnScroll {
  from {
    opacity: 0.25;
    scale: .5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.scroll-fade {
  animation: fadeInOnScroll linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

/* home page industry we serve animation for mobile and tablet */
/* Scroll slide animation */
.scroll-slide {
  opacity: 0;
  transform: translateX(0);
  animation: slideReveal 0.8s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Mobile alternate animation */
@media (max-width: 768px) {
  .scroll-slide:nth-child(odd) {
    transform: translateX(-300px);
  }

  .scroll-slide:nth-child(even) {
    transform: translateX(300px);
  }
}

/* Tablet alternate (2 column) */
@media (min-width: 768px) and (max-width: 1023px) {
  .scroll-slide:nth-child(odd) {
    transform: translateX(-300px);
  }

  .scroll-slide:nth-child(even) {
    transform: translateX(300px);
  }
}

@keyframes slideReveal {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* animation for about page */
@keyframes slideInRight40 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight40 {
  animation: slideInRight40 4s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 30%;
}

/* animation for about page end */

/* for hide scroll bar in the bottom */



